<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Manager</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/script/jquery-3.6.0.min.js"></script>
    <script>
        $(() => {
            $(".deleteBook").click((e) => {
                const title = $(e.currentTarget).parent().siblings().first().text()
                return confirm('Delete Book: ' + title + ' ?')
            });
        })
    </script>
</head>
<body>

<div id="header">
    <img class="logo_img" alt="" src="/static/img/logo.gif">
    <span class="wel_word">Book Management System</span>
    <div>
        <a href="/getBooks">Manage Book</a> |
        <a href="/main">Back To Store</a>
    </div>
</div>

<div id="main">
    <table>
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Author</td>
            <td>Sale Amount</td>
            <td>Stock</td>
            <td colspan="2">Operation</td>
        </tr>
        {{range .}}
        <tr id="{{.Id}}">
            <td>{{.Title}}</td>
            <td>{{.Price}}</td>
            <td>{{.Author}}</td>
            <td>{{.Sales}}</td>
            <td>{{.Stock}}</td>
            <td><a href="/modifyBookPage?bookId={{.Id}}">Modify</a></td>
            <td><a class="deleteBook" href="/deleteBook?bookId={{.Id}}" >Delete</a></td>
        </tr>
        {{end}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="/modifyBookPage">Add</a></td>
        </tr>
    </table>
</div>

<div id="bottom">
    <span>Bookstore.Copyright &copy;2021</span>
</div>
</body>
</html>