<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Manager</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div id="header">
    <img class="logo_img" alt="" src="/static/img/logo.gif">
    <span class="wel_word">Book Management System</span>
    <div>
        <a href="/pages/manager/book_manager.html">Manage Book</a> |
        <a href="/">Back To Store</a>
    </div>
</div>

<div id="main">
    <table>
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Author</td>
            <td>Sale Amount</td>
            <td>Stock</td>
            <td colspan="2">Operation</td>
        </tr>
        {{range .}}
        <tr>
            <td>{{.Title}}</td>
            <td>{{.Price}}</td>
            <td>{{.Author}}</td>
            <td>{{.Sales}}</td>
            <td>{{.Stock}}</td>
            <td><a href="/pages/manager/book_edit.html">Modify</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
        {{end}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="/pages/manager/book_edit.html">Add</a></td>
        </tr>
    </table>
</div>

<div id="bottom">
    <span>Bookstore.Copyright &copy;2021</span>
</div>
</body>
</html>