<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <link type="text/css" rel="stylesheet" href="static/css/style.css">
</head>
<body>

<div id="header">
    <img class="logo_img" alt="" src="static/img/logo.gif">
    <span class="wel_word">Online Bookstore</span>
    <div>
        <a href="pages/user/login.html">Login</a> |
        <a href="pages/user/signup.html">Signup</a> &nbsp;&nbsp;
        <a href="pages/cart/cart.html">Cart</a>
        <a href="pages/manager/manager.html">Manager</a>
    </div>
</div>

<div id="main">
    <div id="book">
        <div class="book_cond">
            Price：$ <label><input type="text" name="min"></label> - $ <label><input type="text" name="max"></label>
            <button>Search</button>
        </div>
        <div style="text-align: center">
            <span>3 items in cart</span>
            <div>
                Add<span style="color: red">A Brief History of Time</span>to cart
            </div>
        </div>
        <div class="b_list">
            <div class="img_div">
                <img class="book_img" alt="" src="static/img/default.jpg"/>
            </div>
            <div class="book_info">
                <div class="book_name">
                    <span class="sp1">Book:</span>
                    <span class="sp2">A Brief History of Time</span>
                </div>
                <div class="book_author">
                    <span class="sp1">Author:</span>
                    <span class="sp2">Stephen Hawking</span>
                </div>
                <div class="book_price">
                    <span class="sp1">Price:</span>
                    <span class="sp2">$30.00</span>
                </div>
                <div class="book_sales">
                    <span class="sp1">Sale Amount:</span>
                    <span class="sp2">230</span>
                </div>
                <div class="book_amount">
                    <span class="sp1">Stock:</span>
                    <span class="sp2">1000</span>
                </div>
                <div class="book_add">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="b_list">
            <div class="img_div">
                <img class="book_img" alt="" src="static/img/default.jpg"/>
            </div>
            <div class="book_info">
                <div class="book_name">
                    <span class="sp1">Book:</span>
                    <span class="sp2">A Brief History of Time</span>
                </div>
                <div class="book_author">
                    <span class="sp1">Author:</span>
                    <span class="sp2">Stephen Hawking</span>
                </div>
                <div class="book_price">
                    <span class="sp1">Price:</span>
                    <span class="sp2">$30.00</span>
                </div>
                <div class="book_sales">
                    <span class="sp1">Sale Amount:</span>
                    <span class="sp2">230</span>
                </div>
                <div class="book_amount">
                    <span class="sp1">Stock:</span>
                    <span class="sp2">1000</span>
                </div>
                <div class="book_add">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="b_list">
            <div class="img_div">
                <img class="book_img" alt="" src="static/img/default.jpg"/>
            </div>
            <div class="book_info">
                <div class="book_name">
                    <span class="sp1">Book:</span>
                    <span class="sp2">A Brief History of Time</span>
                </div>
                <div class="book_author">
                    <span class="sp1">Author:</span>
                    <span class="sp2">Stephen Hawking</span>
                </div>
                <div class="book_price">
                    <span class="sp1">Price:</span>
                    <span class="sp2">$30.00</span>
                </div>
                <div class="book_sales">
                    <span class="sp1">Sale Amount:</span>
                    <span class="sp2">230</span>
                </div>
                <div class="book_amount">
                    <span class="sp1">Stock:</span>
                    <span class="sp2">1000</span>
                </div>
                <div class="book_add">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>

        <div class="b_list">
            <div class="img_div">
                <img class="book_img" alt="" src="static/img/default.jpg"/>
            </div>
            <div class="book_info">
                <div class="book_name">
                    <span class="sp1">Book:</span>
                    <span class="sp2">A Brief History of Time</span>
                </div>
                <div class="book_author">
                    <span class="sp1">Author:</span>
                    <span class="sp2">Stephen Hawking</span>
                </div>
                <div class="book_price">
                    <span class="sp1">Price:</span>
                    <span class="sp2">$30.00</span>
                </div>
                <div class="book_sales">
                    <span class="sp1">Sale Amount:</span>
                    <span class="sp2">230</span>
                </div>
                <div class="book_amount">
                    <span class="sp1">Stock:</span>
                    <span class="sp2">1000</span>
                </div>
                <div class="book_add">
                    <button>Add To Cart</button>
                </div>
            </div>
        </div>
    </div>

    <div id="page_nav">
        <a href="#">Home</a>
        <a href="#">Prev</a>
        <a href="#">3</a>
        [4]
        <a href="#">5</a>
        <a href="#">Next</a>
        <a href="#">End</a>
        10 Page in Total, 30 Records, To Page<label><input value="4" name="pn" id="pn_input"/></label>
        <input type="button" value="Go">
    </div>

</div>

<div id="bottom">
    <span>Bookstore.Copyright &copy;2021</span>
</div>
</body>
</html>