<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <link type="text/css" rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" src="/static/script/jquery-3.6.0.min.js"></script>
    <script>
        $(() => {
            $("#sub").click(() => {
                const pageNumber = $("#pn_input").val()
                window.location.href = "/getPageBooksByPrice?pageNumber=" + pageNumber + "&min={{.PriceMin}}&max={{.PriceMax}}"
            });
            $(".addBookToCart").click((e) => {
                const bookId = e.currentTarget.id
                $.post("/addBookToCart", {"bookId": bookId}, (res) => {
                    console.log(bookId)
                })
            });

        })
    </script>
</head>
<body>

<div id="header">
    <img class="logo_img" alt="" src="static/img/logo.gif">
    <span class="wel_word">Online Bookstore</span>
    {{if eq .Username ""}}
    <div>
        <a href="/pages/user/login.html">Login</a> |
        <a href="/pages/user/signup.html">Signup</a> |
        <a href="/pages/cart/cart.html">Cart</a> |
        <a href="/pages/manager/manager.html">Manager</a>
    </div>
    {{else}}
    <div>
        <span>Welcome <span class="um_span">{{.Username}}</span></span>
        <a href="/pages/cart/cart.html">Cart</a>&nbsp;
        <a href="/logout">Logout</a>&nbsp;&nbsp;
        <a href="/main">Back</a>
    </div>
    {{end}}
</div>

<div id="main">
    <div id="book">
        <div class="book_cond">
            <form action="/getPageBooksByPrice" method="post">
                Price：$ <label><input type="number" name="min" step="0.01"></label> - $ <label><input type="number" name="max" step="0.01"></label>
                <button>Search</button>
            </form>
        </div>
        <div style="text-align: center">
            <span>3 items in cart</span>
            <div>
                Add<span style="color: red">A Brief History of Time</span>to cart
            </div>
        </div>
        {{range .Books}}
        <div class="b_list">
            <div class="img_div">
                <img class="book_img" alt="" src="https://m.media-amazon.com/images/I/{{.ImgPath}}.jpg"/>
            </div>
            <div class="book_info">
                <div class="book_add">
                    <button class="addBookToCart" id="{{.Id}}">Add To Cart</button>
                </div>
                <div class="book_name">
                    <a><b>Title: </b>{{.Title}}</a>
                </div>
                <div class="book_author">
                    <a><b>Author: </b>{{.Author}}</a>
                </div>
                <div class="book_price">
                    <a><b>Price: </b>${{.Price}}</a>
                </div>
                <div class="book_sales">
                    <a><b>Sale Amount: </b>{{.Sales}}</a>
                </div>
                <div class="book_amount">
                    <a><b>Stock: </b>{{.Stock}}</a>
                </div>
            </div>
        </div>
        {{end}}
    </div>

    <div id="page_nav">
        {{if .HasPrev}}
        <a href="/getPageBooksByPrice?min={{.PriceMin}}&max={{.PriceMax}}">Home</a>
        <a href="/getPageBooksByPrice?pageNumber={{.GetPrev}}&min={{.PriceMin}}&max={{.PriceMax}}">Prev</a>
        {{end}}
        {{.PageNumber}}
        {{if .HasNext}}
        <a href="/getPageBooksByPrice?pageNumber={{.GetNext}}&min={{.PriceMin}}&max={{.PriceMax}}">Next</a>
        <a href="/getPageBooksByPrice?pageNumber={{.TotalPages}}&min={{.PriceMin}}&max={{.PriceMax}}">End</a>
        {{end}}
        <br/>
        Total: {{.TotalPages}} Page{{if gt .TotalPages 1}}s{{end}},
        Total: {{.TotalRecords}} Record{{if gt .TotalRecords 1}}s{{end}},
        To Page<label><input value="{{.PageNumber}}" name="pn" id="pn_input"/></label>
        <input type="button" value="Go" id="sub">
    </div>

</div>

<div id="bottom">
    <span>Bookstore.Copyright &copy;2021</span>
</div>
</body>
</html>