<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css">
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }

        h1 a {
            color: red;
        }
    </style>
</head>
<body>
<div id="header">
    <img class="logo_img" alt="" src="../../static/img/logo.gif">
    <div>
        <span>Welcome <span class="um_span">User</span></span>
        <a href="../cart/cart.html">Cart</a>
        <a href="/">Logout</a>&nbsp;&nbsp;
        <a href="/">Back</a>
    </div>
</div>

<div id="main">
    <h1>Welcome <a href="/">Home</a></h1>
</div>

<div id="bottom">
    <span>Bookstore.Copyright &copy;2015</span>
</div>
</body>
</html>