<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css">
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }

        h1 a {
            color: red;
        }
    </style>
</head>
<body>
<div id="header">
    <img class="logo_img" alt="" src="/static/img/logo.gif">
    <span class="wel_word"></span>
    <div>
        <span>Welcome <span class="um_span">User</span></span>
        <a href="/getCartInfo">Cart</a>&nbsp;&nbsp;
        <a href="/getMyOrder">My Order</a>&nbsp;&nbsp;
        <a href="/logout">Logout</a>&nbsp;&nbsp;
        <a href="/main">Back</a>
    </div>
</div>

<div id="main">

    <h1>Sign Up Success. <a href="/main">Home</a></h1>

</div>

<div id="bottom">Bookstore</div>
</body>
</html>