<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }
        h1 a {
            color: red;
        }
    </style>
    <script type="text/javascript" src="/static/script/jquery-3.6.0.min.js"></script>
    <script>
        $(() => {
            $("#clearCart").click(() => {
                return confirm("Clear All In Cart?")
            })
            $(".deleteCartItem").click((e) => {
                const title = $(e.currentTarget).parent().siblings().first().text()
                return confirm(`Delete ${title}?`)
            })
            $(".updateCount").change((e) => {
                const max = e.currentTarget.max
                let value = e.currentTarget.value
                if (value > max) {
                    alert("Only " + max + " available.")
                    e.currentTarget.value = max
                    value = max
                }
                window.location.href = "/updateCartItem?cartItemId=" + e.currentTarget.id + "&bookCount=" + value
            })
        });
    </script>
</head>
<body>

<div id="header">
    <img class="logo_img" alt="" src="/static/img/logo.gif">
    <span class="wel_word">Cart</span>
    {{if .UserId}}
    <div>
        <span>Welcome <span class="um_span">{{.Username}}</span></span>
        <a href="/getCartInfo">Cart</a>&nbsp;&nbsp;
        <a href="/getMyOrder">My Order</a>&nbsp;&nbsp;
        <a href="/logout">Logout</a>&nbsp;&nbsp;
        <a href="/main">Back</a>
    </div>
    {{else}}
    <div>
        <a href="/pages/user/login.html">Login</a> |
        <a href="/pages/user/signup.html">Signup</a> |
    </div>
    {{end}}
</div>

<div id="main">
    {{if not .CartItems}}
    <h1>Empty Cart. <a href="/main">Go Shopping</a></h1>
    {{else}}
    <table>
        <tr>
            <td>Name</td>
            <td>Amount</td>
            <td>Price Per Unit</td>
            <td>Total</td>
            <td>Operation</td>
        </tr>
        {{range .CartItems}}
        <tr>
            <td>{{.Book.Title}}</td>
            <td><label><input id="{{.CartItemId}}" class="updateCount" type="number" value="{{.Count}}" min="1" max="{{.Book.Stock}}" style="width: 50px;height: 25px"/></label></td>
            <td>{{.Book.Price}}</td>
            <td>{{.Amount}}</td>
            <td><a class="deleteCartItem" href="/deleteCartItem?cartItemId={{.CartItemId}}">Delete</a></td>
        </tr>
        {{end}}
    </table>

    <div class="cart_info">
        <span class="cart_span"><span class="b_count">{{.GetTotalCount}}</span> item(s) in cart</span>
        <span class="cart_span">Total: $<span class="b_price">{{.GetTotalAmount}}</span></span>
        <span class="cart_span"><a href="/main">Add More</a></span>
        <span class="cart_span"><a href="/clearCart?cartId={{.CartId}}" id="clearCart">Clear All</a></span>
        <span class="cart_span"><a href="/checkout">Checkout</a></span>
    </div>
    {{end}}

</div>

<div id="bottom">
    <span>Bookstore.Copyright &copy;2021</span>
</div>
</body>
</html>