<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout Page</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }
    </style>
</head>
<body>

<div id="header">
    <img class="logo_img" alt="" src="/static/img/logo.gif">
    <span class="wel_word">Checkout</span>
    <div>
        <span>Welcome <span class="um_span">{{.Username}}</span></span>
        <a href="/getCartInfo">Cart</a>
        <a href="/logout">Logout</a>&nbsp;&nbsp;
        <a href="/main">Back</a>
    </div>
</div>

<div id="main">

    <h1>Order Success, <br/>
        Order Time: <a style="color: blue">{{.Timestamp.Format "2006-01-02 15:04:05"}}</a><br/>
        Order Number: <a style="color: red">{{.OrderId}}</a></h1>

</div>

<div id="bottom">
    <span>Bookstore.Copyright &copy;2021</span>
</div>
</body>
</html>