<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout Page</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }
    </style>
</head>
<body>

<div id="header">
    <img class="logo_img" alt="" src="/static/img/logo.gif">
    <span class="wel_word">Checkout</span>
    <div>
        <span>Welcome <span class="um_span">User</span></span>
        <a href="/pages/cart/cart.html">Card</a>
        <a href="/">Logout</a>&nbsp;&nbsp;
        <a href="/">Back</a>
    </div>
</div>

<div id="main">

    <h1>Order Success, Order Number: 2937474382928484747</h1>

</div>

<div id="bottom">
    <span>Bookstore.Copyright &copy;2021</span>
</div>
</body>
</html>