<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="header">
    <img class="logo_img" alt="" src="/static/img/logo.gif">
    <span class="wel_word">Order Details</span>
    {{if ne (index . 0).Username ""}}
    <div>
        <span>Welcome <span class="um_span">{{(index . 0).Username}}</span></span>
        <a href="/getCartInfo">Cart</a>&nbsp;&nbsp;
        <a href="/getMyOrders">MyOrder</a>&nbsp;&nbsp;
        <a href="/logout">Logout</a>&nbsp;&nbsp;
        <a href="/main">Back</a>
    </div>
    {{else}}
    <div>
        <a href="/getPageBooks">Manage Book</a> |
        <a href="/getOrders">Manage Order</a> |
        <a href="/main">Back To Store</a>
    </div>
    {{end}}
</div>

<div id="main">
    <table>
        <tr>
            <th>Img</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Count</th>
            <th>Amount</th>
        </tr>
        {{range .}}
        <tr>
            <td><img class="book_img" src="https://m.media-amazon.com/images/I/{{.ImgPath}}.jpg" alt=""/></td>
            <td>{{.Title}}</td>
            <td>{{.Author}}</td>
            <td>{{.Price}}</td>
            <td>{{.Count}}</td>
            <td>{{.Amount}}</td>
        </tr>
        {{end}}
    </table>
</div>

<div id="bottom">
    <span>Bookstore.Copyright &copy;2021</span>
</div>
</body>
</html>