<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="header">
    <img class="logo_img" alt="" src="/static/img/logo.gif">
    <span class="wel_word">Order Details</span>
    <div>
        <a href="/getCartInfo">Cart</a>&nbsp;&nbsp;
        <a href="/getMyOrder">My Order</a>&nbsp;&nbsp;
        <a href="/logout">Logout</a>&nbsp;&nbsp;
        <a href="/main">Back</a>
    </div>
</div>

<div id="main">
    <table>
        <tr>
            <th>Img</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Count</th>
            <th>Amount</th>
        </tr>
        <tr>
            <td><img class="book_img" src="#"/></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<div id="bottom">
    <span>Bookstore.Copyright &copy;2021</span>
</div>
</body>
</html>