<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Manager</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="header">
    <img class="logo_img" alt="" src="/static/img/logo.gif">
    <span class="wel_word">Order Manager</span>
    <div>
        <a href="/getPageBooks">Manage Book</a> |
        <a href="/getOrders">Manage Order</a> |
        <a href="/main">Back To Store</a>
    </div>
</div>

<div id="main">
    <table>
        <tr>
            <th>Order Number</th>
            <th>Date</th>
            <th>Count</th>
            <th>Amount</th>
            <th>Details</th>
            <th>Status</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="/">Order Details</a></td>
            <td class="state">
                <a href="/">Processing Order</a>
            </td>
        </tr>
    </table>
</div>

<div id="bottom">
    <span>Bookstore.Copyright &copy;2021</span>
</div>
</body>
</html>